<p>aboutus works!</p>

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th colspan="2">

            </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td colspan="4">
                <div class="card">
                    <img src={{u.avatarUrl}} class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title"> {{u.name}}</h5>
                        <p class="card-text">
                            {{u.email}}
                        </p>
                    </div>

                </div>
                <!-- <div>
                    {{u.id}} #</div>
            </td>
            <td><img src={{u.avatarUrl}} /></td>
           
            <td colspan="2">
                <div>
                    <label> 
                        <b>NAME:</b></label>
                        {{u.name}}</div>
                <div>
                    <label> 
                        <b>EMAIL:</b></label>
                        {{u.email}}</div> -->
            </td>
        </tr>
    </tbody>
</table>